/*------------- This is heading part ---------*/

.container{
    display: flex;
    margin-left: 20px;
    
}
.gears{
    width: 50%
}
.gears-animation img{
    position: relative;
    height: 100px;
    width: 80px;
}
.gears-camera:hover {
transform: rotate(45deg);
transform: translate(300px);
}
.gears-camera{
    transition: transform 1s ;
}
.gear{
    padding-left: 30px;
    padding-top: 15px;
}

/* This is Popular Collection Section  */

.popular-container{
    margin-left: 36px;
  
}
.popular-head{
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;

}
.popular-span{
    color: lightcoral;
}
.popular-heading{
    margin: 10px, 10px;
}

.popular-gears{
   display: grid;
grid-template-columns:repeat(3, 1fr);
}

.top-heading{
    font-family: 'Roboto Condensed', sans-serif;
}
.top-banner{
    font-family: 'Lato', sans-serif;
  
}
.hyper-button{
    text-decoration: none;
    color:rgb(255, 253, 251) ;
    background-color:mediumvioletred ;
    padding: 10px;
    border-radius: 20px;
}

.gear-title{
    font-family: 'Poppins', sans-serif;
}
.fa-star.filled{
    color: gold;
}

/* This is Login Part */


.data-entry img{
    border-radius: 10px;
}
.login-container{
    margin-left: 26px;
}
.log-heading{
    font-family: 'Be Vietnam Pro', sans-serif;
}
.form-info{
    color:green;
}
.log-details{
    color:lightcoral;
}
.middle-button{
    color: mediumvioletred;
    padding: 10px;
    margin-left: 1100px;
    border-radius: 15px;
    text-decoration: none;
    

}
.data-paragraph{
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    margin-left: 110px;

}
.data-container{
    display: flex;

}

/* This is Footer part */

.footer-container{
  position: absolute;
  left: 0%;
  width: 100%;
  
}

.footer-details{
background-color: rgb(8, 1, 12);
font-family: 'Poppins', sans-serif;
color: lavender;
text-align: center;

}
         /* Media Queries */
      
/* Mobile Devices */
@media only screen and (max-width:576px) {
    .top-container{
     width: 40px;
     height: 100px;
    }
   .top-heading{
    text-align: center;
    width: 50%;
    display: flex;
    

       }
    .popular-gears, .login-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
    .gears-camera img{
        height: 200px;
        width: 300px;
        padding-top: 60px;

    }
    .top-banner, .form{
        display: none;
    }
    .banner-details , .hyper-button{
        display: none;
    }
   
.login-paragraph{
    
    display: none;
}
.data-container{
    width: 10%;
}
}
/* tablet Device */
@media only screen and (min-width:577px) and (max-width: 768px){
    .top-container{
        width: 50%;
    }
    
}